
.text {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: rgb(77, 77, 83);

    padding-bottom: 2rem;
}

.links a:link,
.links a:visited {
    color: var(--secondary-color);
    text-decoration: none;
}

.links a:hover {
    color: var(--medium-color);
}

.links a:active {
    font-size: 1.65rem;
}

.end {
    justify-self: end;
}

.nodisp {
    display: none;
}