$background: linear-gradient(0deg, rgba(185, 178, 255, 0.534), rgba(182, 228, 255, 0.664)), linear-gradient(90deg, rgba(120, 217, 255, 0.753), rgba(154, 161, 255, 0.808));
$boxShadowColor: rgba(25, 81, 83, 0.3);
$headerColor: #b5ebff88;
$titleColor: #33477E;
$contentBoxColor: rgba(255, 255, 255, 0.5);
$gameTitleColor: #261d75;
$gameTitleColorHover: #5347be;
$textColor: #1f1f2b;
$secondaryColor: #245959;
$mediumColor: #557e7e;

$backgroundNight: linear-gradient(0deg, rgba(42, 14, 51, 0.534), rgba(13, 10, 41, 0.664)), linear-gradient(90deg, rgba(15, 26, 49, 0.753), rgba(34, 25, 77, 0.808));
$boxShadowColorNight: rgba(0, 0, 0, 0.3);
$headerColorNight: #252346;
$contentBoxColorNight: rgb(19, 19, 31);
$gameTitleColorNight: #8199da;
$gameTitleColorHoverNight: #b2d0e2;
$titleColorNight: #aebce2;
$textColorNight: #e1e7f3;
$secondaryColorNight: #b8b0e4;
$mediumColorNight: #d4cff0;

@mixin box-shadow($x, $y, $blur, $spread, $c) {
    -webkit-box-shadow: $x $y $blur $spread $c;
    -moz-box-shadow: $x $y $blur $spread $c;
    -ms-box-shadow: $x $y $blur $spread $c;
    box-shadow: $x $y $blur $spread $c;
}

/****************************************/
/*************** GENERAL ****************/
/****************************************/

/* Main box containing all content */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    /* 10px */
    font-size: 62.5%; 
}

body {
    background-image: $background;
    width: 100vw;
    height: 120vh;
    overflow-x: hidden;
}

.content {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    border-radius: 3px;
    
}

/****************************************/
/**************** HEADER ****************/
/****************************************/

header {
    width: 100vw;
    border-radius: 6px 6px 0 0;
    padding: 1.8rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    align-content: space-evenly;
    gap: 4.8rem;
}

.sticky-header {
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $headerColor;
        @include box-shadow(0, 2px, 6px, 2px, $boxShadowColor);
    }

    main {
        padding-top: 100vh;
    }
}


.title {
    padding-right: 3rem;
    padding-left: 2rem;
    letter-spacing: -1px;

    a:link,
    a:visited {
        font-family: "Paytone One", sans-serif;
        font-size: 4.6rem;
        font-weight: 700;
        text-decoration: none;
        color: $titleColor;

        transition: all 0.2s;
    }

    a:active,
    a:hover {
        color: $mediumColor;
    }
}

.navigation {
    margin-right: 4%;
    margin-left: auto;
    letter-spacing: 0.5;

    a:link, 
    a:visited {
        font-size: 2.4rem;
        text-decoration: none;
        color: $secondaryColor;
        padding-top: 0.6rem;

        transition: all 0.5s;
    }

    a:hover,
    a:active {
        color: $mediumColor;
        text-decoration: underline;
    }

    a:active {
        font-size: 2.3rem;
    }
}

.nav-ul{
    list-style: none;
    display: flex;
    align-content: space-evenly;
    gap: 3rem;
    padding-top: 1rem;
    letter-spacing: 1.5px;
}


/* Mobile navigation */

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 6rem;
    width: 6rem;
    color: $secondaryColor;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/****************************************/
/***************** BODY *****************/
/****************************************/


/** Homepage **/
main {
    padding: 0;
    display: flex;
    align-items: start;
    align-content: start;
    gap: 6rem;
    width: 100vw;
    overflow-x: hidden;
}

/** About page **/

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    gap: 2.4rem;
}

.picture {
    position: fixed;
    background-image: linear-gradient(
        to right bottom,
        url("../img/me.jpg"),
        rgba(21, 22, 109, 0.25)
      );
    z-index: -1;
    opacity: 0.1;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.hello {
    padding: 10rem 20rem;
    font-size: 14rem;
    font-weight: 700;
    width: 100vw;
    color: $textColor;
}

.waving {
    display: inline-block;
}

.waving:hover {
    animation-name: wave-animation;
    animation-duration: 3.0s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    }
    
    @keyframes wave-animation {
    0% {
    transform: rotate( 0.0deg)
    }
    10% {
    transform: rotate(14.0deg)
    }
    20% {
    transform: rotate(-8.0deg)
    }
    30% {
    transform: rotate(14.0deg)
    }
    40% {
    transform: rotate(-4.0deg)
    }
    50% {
    transform: rotate(10.0deg)
    }
    60% {
    transform: rotate( 0.0deg)
    }
    100% {
    transform: rotate( 0.0deg)
    }
}

.intro {
    width: 60vw;
    padding-top: 3rem;
    font-size: 4rem;
    font-weight: 400;
}

.description {
    margin: 4rem 12rem;

    .big-text:not(:first-of-type) {
        margin-top: 3rem;
    }
}


/** Used for home page and game dev page for image banners + descriptions **/
.fun {
    width: 100%;
}

.fun-list {
    margin-top: 2rem;
    list-style: none;
}

.fun-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

/** Game Dev list **/
.game-title {
    a:link, 
    a:visited {
        color: $gameTitleColor;
        font-size: 2.4rem;
        font-family: 'Paytone One', sans-serif;
        text-decoration: none;
        
        transition: all 0.2s;
    }

    a:hover,
    a:active {
        color: $gameTitleColorHover;
    }
}

.game-description {
    text-align: center;
    max-width: 80%;
}

/** CV page **/

.cv {
    width: 100%;
}

.cv-pdf {
    color: $secondaryColor;
    font-size: 2.6rem;
    font-weight: normal;
    text-decoration: none;

}

.cv-pdf:hover {
    color: $mediumColor;
}

.cv-download-icon {
    width: 2.4rem;
    height: 2.4rem;
    transform: translateY(2px);
    z-index: 1;
}

.cv-part {
    border-top: 4px dotted rgb(227, 249, 255);
    padding: 2rem;
}

.cv-part-title {
    color: $titleColor;
    font-size: 2rem;
}

.cv-text {
    font-size: 1.6rem;
    color: $textColor;
    list-style: square;

    li:first-of-type {
        margin-top: 1rem;
    }

    li {
        margin-top: 0.6rem;
        margin-left: 2rem;
    }

}

.cv-item {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: $secondaryColor;
    font-style: italic;
    font-weight: bold;
}

/****************************************/
/**************** FOOTER ****************/
/****************************************/

footer {
    border-top: 0.5rem solid $headerColor;
}


/****************************************/
/************* NIGHT THEME **************/
/****************************************/

.dark {
    background-image: $backgroundNight;

    .content {
        @include box-shadow(0, 6px, 9px, 4px, $boxShadowColorNight);
    }

    .sticky-header {
        background-color: $headerColorNight;
        @include box-shadow(0, 2px, 6px, 2px, $boxShadowColorNight);
    }

    .title {
        a:link,
        a:visited {
            color: $titleColorNight;
        }

        a:active,
        a:hover {
            color: $mediumColorNight;
        }
    }

    .navigation {
        a:link,
        a:visited {
            color: $secondaryColorNight;
        }

        a:hover, 
        a:active {
            color: $mediumColorNight;
        }
    }

    .icon-mobile-nav {
        color: $secondaryColorNight;
    }


    .hello {
        color: $textColorNight;
    }

    .game-title {
        a:link,
        a:visited {
            color: $gameTitleColorNight;
        }

        a:hover,
        a:active {
            color: $gameTitleColorHoverNight;
        }
    }

    .cv-pdf {
        color: $secondaryColorNight;
    }

    .cv-pdf:hover {
        color: $mediumColorNight;
    }

    .cv-part {
        border-top: 4px dotted rgb(59, 58, 90);
    }

    .cv-part-title {
        color: $titleColorNight;
    }

    .cv-item {
        color: $secondaryColorNight;
    }

    .cv-text {
        color: $textColorNight;
    }

    footer {
        border-top: 0.5rem solid $headerColorNight;
    }

    .contact p {
        color: $mediumColorNight;
    }
}