/****************************************/
/*************** GENERAL ****************/
/****************************************/
/* Main box containing all content */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(0deg, rgba(185, 178, 255, 0.534), rgba(182, 228, 255, 0.664)), linear-gradient(90deg, rgba(120, 217, 255, 0.753), rgba(154, 161, 255, 0.808));
  width: 100vw;
  height: 120vh;
  overflow-x: hidden;
}

.content {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  border-radius: 3px;
}

/****************************************/
/**************** HEADER ****************/
/****************************************/
header {
  width: 100vw;
  border-radius: 6px 6px 0 0;
  padding: 1.8rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  align-content: space-evenly;
  gap: 4.8rem;
}

.sticky-header header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(181, 235, 255, 0.5333333333);
  -ms-box-shadow: 0 2px 6px 2px rgba(25, 81, 83, 0.3);
  box-shadow: 0 2px 6px 2px rgba(25, 81, 83, 0.3);
}
.sticky-header main {
  padding-top: 100vh;
}

.title {
  padding-right: 3rem;
  padding-left: 2rem;
  letter-spacing: -1px;
}
.title a:link,
.title a:visited {
  font-family: "Paytone One", sans-serif;
  font-size: 4.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #33477E;
  transition: all 0.2s;
}
.title a:active,
.title a:hover {
  color: #557e7e;
}

.navigation {
  margin-right: 4%;
  margin-left: auto;
  letter-spacing: 0.5;
}
.navigation a:link,
.navigation a:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #245959;
  padding-top: 0.6rem;
  transition: all 0.5s;
}
.navigation a:hover,
.navigation a:active {
  color: #557e7e;
  text-decoration: underline;
}
.navigation a:active {
  font-size: 2.3rem;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-content: space-evenly;
  gap: 3rem;
  padding-top: 1rem;
  letter-spacing: 1.5px;
}

/* Mobile navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 6rem;
  width: 6rem;
  color: #245959;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

/****************************************/
/***************** BODY *****************/
/****************************************/
/** Homepage **/
main {
  padding: 0;
  display: flex;
  align-items: start;
  align-content: start;
  gap: 6rem;
  width: 100vw;
  overflow-x: hidden;
}

/** About page **/
.hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  gap: 2.4rem;
}

.picture {
  position: fixed;
  background-image: linear-gradient(to right bottom, url("../img/me.jpg"), rgba(21, 22, 109, 0.25));
  z-index: -1;
  opacity: 0.1;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.hello {
  padding: 10rem 20rem;
  font-size: 14rem;
  font-weight: 700;
  width: 100vw;
  color: #1f1f2b;
}

.waving {
  display: inline-block;
}

.waving:hover {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.intro {
  width: 60vw;
  padding-top: 3rem;
  font-size: 4rem;
  font-weight: 400;
}

.description {
  margin: 4rem 12rem;
}
.description .big-text:not(:first-of-type) {
  margin-top: 3rem;
}

/** Used for home page and game dev page for image banners + descriptions **/
.fun {
  width: 100%;
}

.fun-list {
  margin-top: 2rem;
  list-style: none;
}

.fun-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/** Game Dev list **/
.game-title a:link,
.game-title a:visited {
  color: #261d75;
  font-size: 2.4rem;
  font-family: "Paytone One", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}
.game-title a:hover,
.game-title a:active {
  color: #5347be;
}

.game-description {
  text-align: center;
  max-width: 80%;
}

/** CV page **/
.cv {
  width: 100%;
}

.cv-pdf {
  color: #245959;
  font-size: 2.6rem;
  font-weight: normal;
  text-decoration: none;
}

.cv-pdf:hover {
  color: #557e7e;
}

.cv-download-icon {
  width: 2.4rem;
  height: 2.4rem;
  transform: translateY(2px);
  z-index: 1;
}

.cv-part {
  border-top: 4px dotted rgb(227, 249, 255);
  padding: 2rem;
}

.cv-part-title {
  color: #33477E;
  font-size: 2rem;
}

.cv-text {
  font-size: 1.6rem;
  color: #1f1f2b;
  list-style: square;
}
.cv-text li:first-of-type {
  margin-top: 1rem;
}
.cv-text li {
  margin-top: 0.6rem;
  margin-left: 2rem;
}

.cv-item {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #245959;
  font-style: italic;
  font-weight: bold;
}

/****************************************/
/**************** FOOTER ****************/
/****************************************/
footer {
  border-top: 0.5rem solid rgba(181, 235, 255, 0.5333333333);
}

/****************************************/
/************* NIGHT THEME **************/
/****************************************/
.dark {
  background-image: linear-gradient(0deg, rgba(42, 14, 51, 0.534), rgba(13, 10, 41, 0.664)), linear-gradient(90deg, rgba(15, 26, 49, 0.753), rgba(34, 25, 77, 0.808));
}
.dark .content {
  -ms-box-shadow: 0 6px 9px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 9px 4px rgba(0, 0, 0, 0.3);
}
.dark .sticky-header {
  background-color: #252346;
  -ms-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}
.dark .title a:link,
.dark .title a:visited {
  color: #aebce2;
}
.dark .title a:active,
.dark .title a:hover {
  color: #d4cff0;
}
.dark .navigation a:link,
.dark .navigation a:visited {
  color: #b8b0e4;
}
.dark .navigation a:hover,
.dark .navigation a:active {
  color: #d4cff0;
}
.dark .icon-mobile-nav {
  color: #b8b0e4;
}
.dark .hello {
  color: #e1e7f3;
}
.dark .game-title a:link,
.dark .game-title a:visited {
  color: #8199da;
}
.dark .game-title a:hover,
.dark .game-title a:active {
  color: #b2d0e2;
}
.dark .cv-pdf {
  color: #b8b0e4;
}
.dark .cv-pdf:hover {
  color: #d4cff0;
}
.dark .cv-part {
  border-top: 4px dotted rgb(59, 58, 90);
}
.dark .cv-part-title {
  color: #aebce2;
}
.dark .cv-item {
  color: #b8b0e4;
}
.dark .cv-text {
  color: #e1e7f3;
}
.dark footer {
  border-top: 0.5rem solid #252346;
}
.dark .contact p {
  color: #d4cff0;
}/*# sourceMappingURL=style.css.map */