
/* Main box containing all content */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    --background: linear-gradient(120deg, rgb(238, 253, 253) 0%, rgba(224,255,255,1) 100%);
    --box-shadow-color: rgba(12, 71, 71, 0.3);
    --header-color: #e6fafa;
    --title-color: #33477E;
    --secondary-color: #245959;
    --medium-color: #557e7e;
}

html {
    /* 10px */
    font-size: 62.5%; 
}

body {
    background: var(--background);
}

.content {
    width: 90rem;
    margin: 3rem auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 6px 9px 4px var(--box-shadow-color);
}

/****************************************/
/**************** HEADER ****************/
/****************************************/

header {
    border-radius: 6px 6px 0 0;
    padding: 1.8rem 2rem 2rem 2rem;
    height: 10%;
    display: flex;
    align-items: center;
    align-content: space-evenly;
    gap: 4rem;
    background-color: var(--header-color);
}

.title {
    padding-left: 2rem;
    letter-spacing: -1px;
}

.title a:link, 
.title a:visited {
    font-family: "Paytone One", sans-serif;
    font-size: 4.6rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--title-color);

    transition: all 0.5s;
}

.title a:active,
.title a:hover {
    color: var(--secondary-color);
}

.navigation {
    margin-right: 3rem;
    margin-left: auto;
}

.nav-ul{
    list-style: none;
    display: flex;
    align-content: space-evenly;
    gap: 3rem;
    letter-spacing: 1.5px;
}

.navigation a:link,
.navigation a:visited {
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--secondary-color);
    padding-top: 0.6rem;

    transition: all 0.5s;
}

.navigation a:hover,
.navigation a:active {
    color: var(--medium-color);
    text-decoration: underline;
}

.navigation a:active {
    font-size: 2.3rem;
}

/* Mobile navigation */

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 6rem;
    width: 6rem;
    color: var(--secondary-color);
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/****************************************/
/***************** BODY *****************/
/****************************************/

main {
    padding: 0 4rem;
    display: flex;
    align-items: start;
    align-content: start;
    gap: 6rem;
    padding: 4rem;
}

.picture {
    width: 80rem;
    height: 80%;
}

.picture img {
    width: 28rem;
    height: 24rem;
    object-position: 0% 75%;

    border-radius: 6px;
    box-shadow: 0 2px 3px 1px var(--box-shadow-color);
    object-fit: cover;
}



/****************************************/
/**************** FOOTER ****************/
/****************************************/

footer {
    margin: 0 4rem;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1.5px;

    border-top: 0.5rem solid var(--header-color)
}

.contact p {
    color: var(--medium-color);
}

.contact p:first-of-type {
    margin-bottom: 4px;
}



